.Item {
	width: 100%;
	border-bottom: 1px solid rgb(214, 214, 214);

	& img {
		opacity: 0;
	}
}

.HeadItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: black;
	font-weight: 500;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		cursor: pointer;
	}

	&:hover > img {
		transform: translateX(0.3rem);
		opacity: 1;
	}
}

.HeadItemLeft {
	display: flex;
	align-items: center;
	gap: 1rem;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	line-height: 2rem;
}

.ItemId {
	align-self: flex-end;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
}

.ItemTitle {
	font-weight: 500;
	font-size: 1.5rem;

	@media screen and (max-width: 768px) {
		font-size: 1.25rem;
	}
}

.HeadItem > img {
	display: block;
	height: 1.25rem;
	width: 1.25rem;
	flex-shrink: 0;
	color: rgb(24 24 27);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width: 1000px) {
		& {
			display: none;
		}
	}
}

.ItemDescription {
	overflow: hidden;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: rgb(113 113 122);
	transition-property: all;
	transition-delay: 0.15s;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.Item.open .ItemDescription {
	max-height: 10rem;
	padding-bottom: 1rem;
}

.Item.open img {
	opacity: 1;
}

.Item.close .ItemDescription {
	max-height: 0;
	padding-bottom: 0;
}

.Item.close .ImageContainerSmall {
	height: 0;
	margin-bottom: 0;
	transform: scaleY(0);
}

.Item.close .ItemImg {
	padding: 0;
	margin: 0;
}

.ItemImg {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 0.375rem;
	margin-left: 4rem;
	background: radial-gradient(
		circle at center,
		rgba(69, 30, 137, 0.5) 0%,
		rgba(0, 0, 0, 1) 60%
	);
	object-fit: contain;
	padding: 3rem;
	color: transparent;

	@media screen and (max-width: 1000px) {
		max-width: 100%;
		padding: 1.75rem 1rem;
		margin-left: 0;
		position: relative;
	}
}

.ImageContainerSmall {
	position: relative;
	width: 100%;
	justify-content: center;
	display: flex;
	border-radius: 0.375rem;
	margin-bottom: 1rem;
	background-color: black;
	transform: scaleY(1);
	transition-property: transform;
	transition-delay: 0.15s;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

	@media screen and (min-width: 1000px) {
		display: none;
	}
}

.animated {
	animation: ani 0.5s forwards;
}

@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
